*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.out
.DS_Store
doc/report/project-report.pdf
*.tps
Thumbs.db
tomcat/StreamAlert/build/
.metadata/
tomcat/StreamAlert/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml/
.recommenders/

# Compiled class file
*.class
.classpath